@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.body {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A5A5A;
}

.navbar {
    margin-top: 30px;
    margin-bottom: 98px;
    padding: 0;
}

.navbar-brand img {
    margin-right: 121px;
}

.navbar-nav .nav-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2B2B2B;
    margin-right: 56px;

}

.btn-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 101px;
    height: 36px;
    border: 2px solid #F53838;
    border-radius: 20px;
    color: #F53838;
    background: transparent;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
}

.btn-signup:hover {
    background: #F53838;
    color: #fff;
}

.section-intro .container {
    height: 356px;
    padding-top: 24px;
    background-image: url(images/intro-hero.svg);
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 67px;
}

.section-intro .btn-getstarted {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 193px;
    height: 54px;
    background: #F53838;
    border-radius: 20px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin-top: 58px;
}

.section-intro .intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-intro .intro-tagline-text {
    width: 506px;
    height: 118px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    color: #2B2B2B;
}

.section-intro .intro-comment {
    width: 553px;
    height: 36px;
    margin-top: 42px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A5A5A;
}

.section-intro .intro-text {
    flex: 1;
}

.features-container.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 190px;
    isolation: isolate;
    width: 820px;
    height: 114px;


    background: #FFFFFF;
    box-shadow: 7px 13px 35px rgba(0, 0, 0, 0.09);
    border-radius: 20px;

}

.feature-info h3 {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2B2B2B;
    margin: 0;
}

.feature-info p {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5A;
    margin: 0;
}

.feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 200px;
    height: 114px;

    position: relative;
}

.feature-item::after {
    content: '';
    position: absolute;
    right: -95px;
    top: 30%;
    height: 40px;
    border-right: 1px solid #AEAEAE;
}

.feature-item:last-child::after {
    display: none;
}

.feature-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 37px;
    height: 37px;

    background: rgba(245, 56, 56, 0.1);
    color: #F53838;
    font-size: 25px;
    border-radius: 500px;

}

.section-features {
    margin-bottom: 60px;
}

.providing-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 182px;
    padding-left: 120px;
    margin-bottom: 75px;
}

.providing-container .providing-text h2 {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #2B2B2B;
    margin: 0;
}

.providing-list {
    list-style: none;
    padding: 0;
}

.providing-list li {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    gap: 21px;
    color: #2B2B2B;
    margin-bottom: 21px;
    padding-left: 30px;
    position: relative;
}

.providing-list li::before {
    content: '\F26A';
    font-family: 'bootstrap-icons';
    color: #2BBC28;
    position: absolute;
    left: 0;
    top: 0;
}

.section-plans .plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0px;
    width: 559px;
    height: 129px;
    margin-bottom: 21px;
}

.section-plans .plans-container .plans-tagline-text {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #2B2B2B;
    margin: 0;
}

.section-plans .plans-container .plans-comment {
    text-align: center;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A5A5A;
    margin: 0;
}

.plans-container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 91px;
}

.plan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    flex: 1;
    max-width: 317px;
    border: 2px solid #D3D3D3;
    border-radius: 20px;
    background: #FFFFFF;
}

.plan-item:last-child {
    border: 2px solid #F53838;
    border-radius: 20px;
}

.plan-item .plan-item-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
    width: 204px;
}

.plan-item .plan-features {
    list-style: none;
    padding: 0;
}

.plan-item .plan-item-box h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 55px;
    margin-top: 21px;
}

.plan-item .plan-features li {

    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;
}

.plan-item .plan-features li::before {
    content: '\F26A';
    font-family: 'bootstrap-icons';
    color: #2BBC28;
    position: absolute;
    left: 0;
    top: 0;
}

.plan-item .plan-price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
    margin-top: auto;
    margin-bottom: 22px;
    position: relative;
}

.plan-item .plan-price span {
    font-weight: 400;
    font-size: 20px;
    color: #646464;
}

.plan-item .btn-plan-select {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 173px;
    height: 45px;
    background: #F53838;
    border-radius: 20px;
    color: #fff;
    margin-top: 22px;
    margin-bottom: 21px;
    flex-shrink: 0;
}